In [1]:
import pandas as pd

### Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [3]:
data = pd.read_csv('C:\\Users\\Admin\\Desktop\\netology\\Python\\Библиотека Pandas - функции и работа с данными\\ml-latest-small\\ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
def rating_description(rating):
    if rating <=2:
        return 'низкий рейтинг'
    elif rating > 2 and rating <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [9]:
data['rating description'] = data['rating'].apply(rating_description)
data.head()

   userId  movieId  rating   timestamp rating description
0       1       31     2.5  1260759144    средний рейтинг
1       1     1029     3.0  1260759179    средний рейтинг
2       1     1061     3.0  1260759182    средний рейтинг
3       1     1129     2.0  1260759185     низкий рейтинг
4       1     1172     4.0  1260759205    средний рейтинг

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [13]:
keyword = pd.read_csv('C:\\Users\\Admin\\Desktop\\netology\\Python\\Библиотека Pandas - функции и работа с данными\\keywords.csv')
keyword.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [17]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [38]:
def geo(keyword):
    for reg, city in geo_data.items():
        if keyword in city:
            return reg
    else:
        return 'undefined'
geo('Псков')

'undefined'

In [59]:
keyword['region'] = keyword['keyword'].apply(geo)
print(keyword['region'].unique())
print(keyword.head())

['undefined' 'Центр' 'Дальний Восток' 'Северо-Запад']
         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined